<!DOCTYPE html>
<html>
<head>
    <title>Recommend Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">



</head>
<body>

<nav>
    <div class="logo-title">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logo">
        <h2>BookRec</h2>
    </div>
    <div>
        <a href="home">Home</a>
        <a href="login">Logout</a>
    </div>
</nav>

<div class="container">
    <h1>Find Your Next Book</h1>

    <form method="POST">
    <input type="text" name="book" placeholder="Enter Book Name" required>
    <button type="submit">Recommend</button>
</form>


</div>

</body>
</html>
